<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>controll.addNoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>controll.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uppdate</servlet-name>
        <servlet-class>controll.updateNoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addChapter</servlet-name>
        <servlet-class>controll.addChapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listNoval</servlet-name>
        <servlet-class>controll.listNoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewNovalAndCahpter</servlet-name>
        <servlet-class>controll.viewNoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listChapter</servlet-name>
        <servlet-class>controll.listChapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewChapter</servlet-name>
        <servlet-class>controll.viewChapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginControll</servlet-name>
        <servlet-class>controll.loginControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerControll</servlet-name>
        <servlet-class>controll.registerControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchNoval</servlet-name>
        <servlet-class>controll.searchNoval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteControl</servlet-name>
        <servlet-class>controll.FavoriteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likeControll</servlet-name>
        <servlet-class>controll.likeControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteControll</servlet-name>
        <servlet-class>controll.deleteControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listControll</servlet-name>
        <servlet-class>controll.listControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/admin/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uppdate</servlet-name>
        <url-pattern>/admin/uppdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addChapter</servlet-name>
        <url-pattern>/admin/addChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listNoval</servlet-name>
        <url-pattern>/client/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewNovalAndCahpter</servlet-name>
        <url-pattern>/client/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listChapter</servlet-name>
        <url-pattern>/client/listc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewChapter</servlet-name>
        <url-pattern>/client/viewC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginControll</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerControll</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchNoval</servlet-name>
        <url-pattern>/client/search</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>FavoriteControl</servlet-name>
        <url-pattern>/client/favorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likeControll</servlet-name>
        <url-pattern>/client/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteControll</servlet-name>
        <url-pattern>/client/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listControll</servlet-name>
        <url-pattern>/admin/list</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
