USE [Project]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 19/03/2021 17:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[idLogin] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[passWord] [nvarchar](max) NOT NULL,
	[creatorID] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[idLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 19/03/2021 17:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[idn] [int] NOT NULL,
	[numberofchap] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 19/03/2021 17:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[idLogin] [int] NOT NULL,
	[idnoval] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noval]    Script Date: 19/03/2021 17:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noval](
	[idnoval] [int] IDENTITY(1,1) NOT NULL,
	[namenoval] [nvarchar](max) NULL,
	[type] [int] NOT NULL,
	[author] [nvarchar](max) NULL,
	[summary] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_Noval] PRIMARY KEY CLUSTERED 
(
	[idnoval] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 19/03/2021 17:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([idLogin], [userName], [passWord], [creatorID]) VALUES (1, N'duc193@gmail.com', N'123456', 1)
INSERT [dbo].[Account] ([idLogin], [userName], [passWord], [creatorID]) VALUES (2, N'hai123@gmail.com', N'123456', 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapter] ON 

SET IDENTITY_INSERT [dbo].[Chapter] OFF
GO
INSERT [dbo].[Favorite] ([idLogin], [idnoval]) VALUES (2, 2)
INSERT [dbo].[Favorite] ([idLogin], [idnoval]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Noval] ON 

INSERT [dbo].[Noval] ([idnoval], [namenoval], [type], [author], [summary], [img], [date]) VALUES (3, N'Tru Tiên', 3, N'Tiêu Đỉnh', N'Tru Tiên là tiểu thuyết giả tưởng thần tiên kiếm hiệp do ngòi bút sắc bén mới nổi là Tiêu Đỉnh trứ tác. Từ khi xuất hiện vào năm 2003, Tru Tiên đã gây một làn sóng lớn trong văn học Trung Quốc, cùng với ', N'Tru-tien-truyen.png', CAST(N'2020-12-13' AS Date))
SET IDENTITY_INSERT [dbo].[Noval] OFF
GO
INSERT [dbo].[Type] ([id], [name]) VALUES (1, N'Kiếm Hiệp')
INSERT [dbo].[Type] ([id], [name]) VALUES (2, N'Tiên Hiệp')
INSERT [dbo].[Type] ([id], [name]) VALUES (3, N'Ngôn Tình')
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_Noval1] FOREIGN KEY([idn])
REFERENCES [dbo].[Noval] ([idnoval])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_Chapter_Noval1]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Account] FOREIGN KEY([idLogin])
REFERENCES [dbo].[Account] ([idLogin])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Account]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Noval] FOREIGN KEY([idnoval])
REFERENCES [dbo].[Noval] ([idnoval])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Noval]
GO
ALTER TABLE [dbo].[Noval]  WITH CHECK ADD  CONSTRAINT [FK_Noval_Type] FOREIGN KEY([type])
REFERENCES [dbo].[Type] ([id])
GO
ALTER TABLE [dbo].[Noval] CHECK CONSTRAINT [FK_Noval_Type]
GO
